@tailwind base;
@tailwind components;
@tailwind utilities;

/* montserrat-regular - latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: url('https://static.coldwire.org/fonts/montserrat-v18-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''), url('https://static.coldwire.org/fonts/montserrat-v18-latin-regular.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('https://static.coldwire.org/fonts/montserrat-v18-latin-regular.woff2') format('woff2'),
		/* Super Modern Browsers */ url('https://static.coldwire.org/fonts/montserrat-v18-latin-regular.woff') format('woff'),
		/* Modern Browsers */ url('https://static.coldwire.org/fonts/montserrat-v18-latin-regular.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('https://static.coldwire.org/fonts/montserrat-v18-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-600 - latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	src: url('https://static.coldwire.org/fonts/montserrat-v18-latin-600.eot'); /* IE9 Compat Modes */
	src: local(''), url('https://static.coldwire.org/fonts/montserrat-v18-latin-600.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('https://static.coldwire.org/fonts/montserrat-v18-latin-600.woff2') format('woff2'),
		/* Super Modern Browsers */ url('https://static.coldwire.org/fonts/montserrat-v18-latin-600.woff') format('woff'),
		/* Modern Browsers */ url('https://static.coldwire.org/fonts/montserrat-v18-latin-600.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('https://static.coldwire.org/fonts/montserrat-v18-latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}

@keyframes fadein {
    from {
		bottom: 0;
		opacity: 0;
    }
    to {
		bottom: 1rem;
		opacity: 1;
    }
}

@keyframes fadeout {
    from {
		bottom: 1rem;
		opacity: 1;
    }
    to {
		bottom: 0;
		opacity: 0;
    }
}